@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/*bg img*/
.bg_mines {
    background-image: url("../img/Falklands-Minefield.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*bg color*/
.bg_F0466F {
    background-color: #F0466F;
}

.bg_0BD6A1 {
    background-color: #0BD6A1;
}

.bg_FFD04C {
    background-color: #FFD04C;
}

.bg_FFD166_rgba_05 {
    background-color: rgba(255, 209, 102, 0.5);
}

.bg_FFD166 {
    background-color: #FFD166;
}

.bg_1389B2 {
    background-color: #1389B2;
}

.bg_083B4C {
    background-color: #083B4C;
}
/*width*/
.w_30 {
    width: 30%;
}

.w_50 {
    width: 50%;
}

.w_100 {
    width: 100%;
}

.w_75_vw {
    width: 75vw;
}

.w_100px {
    width: 100px;
}
/*height*/
.h_50vh {
    height: 50vh;
}

.h_100vh {
    height: 100vh;
}

.h_100px {
    height: 100px;
}

.h_400px {
    height: 400px;
}

.aspect_ratio_1 {
    aspect-ratio: 1;
}
/*text property*/
.text_centered {
    text-align: center;
}

.text_white {
    color: white;
}

.text_green {
    color: green;
}

.text_red {
    color: red;
}

.text_yellow {
    color: yellow;
}

.text_E4A316 {
    color: #E4A316;
}

.text_FFC83D {
    color: #FFC83D;
}

.contorno {
    /* 6 pixel black shadow to left, top, right and bottom */
    text-shadow: -6px 0 black, 0 6px black, 6px 0 black, 0 -6px black;
  }

.fs_1_5em {
    font-size: 1.5em;
}

.fs_2em {
    font-size: 2em;
}

.fs_3em {
    font-size: 3em;
}

.fs_4em {
    font-size: 4em;
}

.fs_6em {
    font-size: 6em;
}

.font_style_italic {
    font-style: italic;
}

.font_style_normal {
    font-style: normal;
}
/*border*/
.border_1px_s_white {
    border: 1px solid white;
}

.border_rad_5px {
    border-radius: 5px;
}

.border_rad_20px {
    border-radius: 20px;
}
/*margin*/
.m_0_auto {
    margin: 0 auto;
}

.my_10px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my_30px {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my_50px {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mt_10px {
    margin-top: 10px;
}

.mt_30px {
    margin-top: 30px;
}

.mt_150px {
    margin-top: 150px;
}

.mb_10px {
    margin-bottom: 10px;
}
/*padding*/
.p_20px {
    padding: 20px;
}

.p_20px {
    padding: 20px;
}

.py_5px {
    padding-top: 5px;
    padding-bottom: 5px;
}

.px_5px {
    padding-right: 5px;
    padding-left: 5px;
}

.ps_50px {
    padding-left: 50px;
}
/*display flex*/
.d_flex {
    display: flex;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_direction_column {
    flex-direction: column;
}

.align_items_center {
    align-items: center;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_between {
    justify-content: space-between;
}

.justify_content_around {
    justify-content: space-around;
}

.justify_self_center {
    justify-self: center;
}
/*display (general)*/
.d_inline_block {
    display: inline-block;
}

.d_block {
    display: block;
}

.d_none {
    display: none;
}

.v_hidden {
    visibility: hidden;
}

/*position*/
.p_relative {
    position: relative;
}

/*cursor pointer*/
.cursor_pointer:hover {
    cursor: pointer;
}
/*multi-use classes*/
.input_basic {
    border: none;
    border: 1px solid black;
    background-color: white;
    font-size: 1.3em;
    padding: 5px;
    border-radius: 5px;
}

.btn_basic {
    border: none;
    border: 1px solid black;
    background-color: white;
    font-size: 1.3em;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
}

.btn_basic:hover {
    background-color: #083B4C;
    color: white;
    cursor: pointer;
}
/*USE VAR*/
:root {
    --text-white: white;
    --border-size: 1px;
    --border-color: white;
    --border-type: solid;
    --aqua: aqua;
    --red: red;
}

.box_10per10 {
    width: calc(100% / 10 - 2px);
    height: calc(100% / 10 - 2px);
    border: var(--border-color) var(--border-size) var(--border-type);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box_9per9 {
    width: calc(100% / 9 - 2px);
    height: calc(100% / 9 - 2px);
    border: var(--border-color) var(--border-size) var(--border-type);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box_7per7 {
    width: calc(100% / 7 - 2px);
    height: calc(100% / 7 - 2px);
    border: var(--border-color) var(--border-size) var(--border-type);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*clicked*/
.clicked {
    background-color: var(--aqua);
}

.bomb_class {
    background-color: var(--red);
}

.stop_events {
    pointer-events: none;
}

/*ANIMATIONS*/
.div-title {
    position: relative;
    width: 700px;
}

.top-title {
    position: absolute;
    top: -20px;
    left: -50px;
    animation-name: move_bomb;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move_bomb {
    0% {
        left: -100px;
        top: -100px;
        transform: rotate(0deg);
    }
    16.66% {
        left: 40%;
        top: -100px;
        transform: rotate(180deg);
    }
    33.32% {
        left: 100%;
        top: -100px;
        transform: rotate(360deg);
    }
    49.98% {
        left: 100%;
        top: 100px;
        transform: rotate(540deg);
    }
    66.64% {
        left: 40%;
        top: 100px;
        transform: rotate(720deg);
    }
    83.3% {
        left: -100px;
        top: 100px;
        transform: rotate(900deg);
    }
    100% {
        left: -100px;
        top: -100px;
        transform: rotate(1080deg);
    }
}

.final-bomb-rotation {
    animation-name: final-bomb-rotation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes final-bomb-rotation {
    100% {
        transform: rotate(360deg);
    }
}

/* #bomb-apears {
    position: absolute;
    top: 50%;
    left: 50%;
} */
